@page "/menu"
@using MyGoodnessHarold.Data;
@using MySqlConnector;

<div class="menu-container">
    <link href="css/Menu.css" rel="stylesheet">

    <div class="menu-header">
        <h1>Menu</h1>
    </div>

    <div class="menu-body">
        <div class="menu-items">
            @foreach (var product in Products)
            {
                <div class="menu-item">
                    <div class="item-info">
                        <div class="item-name">@product.ProductName</div>
                        <div class="item-price">@product.Price.ToString("C")</div>
                    </div>
                    <button @onclick="() => AddItem(product)">+</button>
                </div>
            }
        </div>
        <div class="selected-items">
            <div class="selected-items-list">
                @foreach (var selectedItem in SelectedItems.Where(i => i.Quantity > 0))
                {
                    <div class="selected-item">
                        <div class="selected-item-name">@selectedItem.Name x @selectedItem.Quantity</div>
                        <div class="selected-item-price">@((selectedItem.Price * selectedItem.Quantity).ToString("C"))</div>
                        <button class="removeButton" @onclick="() => RemoveItem(selectedItem)">-</button>
                    </div>
                }
            </div>
            <div class="total">
                <div>GST 10%: @((Total * 0.1m).ToString("C"))</div>
                <div>Total: @((Total * 1.1m).ToString("C"))</div>
                <button class="print-button">PRINT</button>
            </div>
        </div>
    </div>
</div>

@code {
    private List<Product> Products;

    private List<MenuItem> SelectedItems = new List<MenuItem>();

    private decimal Total => SelectedItems.Sum(item => item.Price * item.Quantity);

    protected override void OnInitialized()
    {
        Products = Product.GetAllProducts();
    }

    private void AddItem(Product product)
    {
        var existingItem = SelectedItems.FirstOrDefault(i => i.Name == product.ProductName);
        if (existingItem != null)
        {
            existingItem.Quantity++;
        }
        else
        {
            SelectedItems.Add(new MenuItem { Name = product.ProductName, Price = product.Price, Quantity = 1 });
        }
    }

    private void RemoveItem(MenuItem item)
    {
        var existingItem = SelectedItems.FirstOrDefault(i => i.Name == item.Name);
        if (existingItem != null)
        {
            existingItem.Quantity--;
            if (existingItem.Quantity == 0)
            {
                SelectedItems.Remove(existingItem);
            }
        }
    }

    public class MenuItem
    {
        public string Name { get; set; }
        public decimal Price { get; set; }
        public int Quantity { get; set; }
    }
}